coverage==4.3.4
mock>=1.0.1
flake8>=2.1.0
tox>=1.7.0
tox-travis
codecov>=2.0.0
sphinx
recommonmark

# supported django and DRF
django>=2.2,<4.0
djangorestframework>=3.9,<4.0
djangorestframework==3.15.2

# to test conflicts with filtering
django-filter
